@model CreateSpecialOfferDto

@{
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Özel Teklif Ekleme<h4>
              
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>Özel Teklif Başlığı : </label>
                                <input type="text" asp-for="Title" class="form-control" placeholder="Teklif Başlığı">
                        <label>Özel Teklif Alt Başlığı : </label>
                                <input type="text" asp-for="Subtitle" class="form-control" placeholder="Teklif Alt Başlığı">
                        <label>Resim url : </label>
                                <input type="text" asp-for="ImageUrl" class="form-control" placeholder="Resim Url">

                      <button class="btn btn-primary" type="submit">Özel Teklif Ekle</button>
                    </form> 
                    
                </div>
            </div>
        </div>
    </div>
</section>