################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

*.vsidx
/.vs/MultiShopProject/DesignTimeBuild/.dtbcache.v2
