<!-- Offer Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="~/img/offer1.jpeg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase"> 20% İndirim</h6>
                    <h3 class="text-white mb-3">Mobilya Fırsatları</h3>
                    <a href="" class="btn btn-primary">Alışverişe başla</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="~/img/offer2.jpeg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">20% İndirim</h6>
                    <h3 class="text-white mb-3">Çocuk Ürünleri</h3>
                    <a href="" class="btn btn-primary">Alışverişe başla</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->