@model UpdateCategoryDto

@{
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4> Kategori Güncelleme <h4>

                        <div class="bs-example" data-example-id="bordered-table">
                            <form method="post">
                                <input type="hidden" asp-for="CategoryID" class="form-control" readonly>
                                <label>Kategori Adı : </label>
                                <input type="text" asp-for="CategoryName" class="form-control" placeholder="Kategori Adı">
                                <label>Kategori Görseli : </label>
                                <input type="text" asp-for="ImageUrl" class="form-control" placeholder="Kategori Görsel Url">

                                <button class="btn btn-primary" type="submit">Kategori Güncelle</button>
                            </form>
                        </div>
            </div>
        </div>
    </div>
</section>