@model List<ResultProductDto>

@{
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Ürün Listesi</h4>
              
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ürün Adı</th>
                                <th>Ürün Fiyatı</th>
                                <th> </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.ProductName</td>
                                    <td>@item.ProductPrice</td>
                                    <td> <a class="btn btn-danger" href="/Admin/Product/DeleteProduct/@item.ProductId">Sil</a></td>
                                    <td> <a class="btn btn-success" href="/Admin/Product/UpdateProduct/@item.ProductId">Güncelle</a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <a class="btn btn-success" href="/Admin/Product/CreateProduct">Ürün Ekle</a>
                </div>
            </div>
        </div>
    </div>
</section>
